<html>
    <head>
        <link rel="stylesheet" href="/static/wordstyle.css">
        <script src="/static/index.js"></script>
        <title>WordFinder</title>
    </head>
    <body>
        <div class="wrapper">
            {% block navbar %}
            <nav>
                <h1>Word Finder - Pankeel Shah</h1>
            </nav>
            {% endblock %}

            <div id="inputSection">
                <h1 id="title">WordFinder</h1>

                {% block content %}
                default content
                {% endblock %}

                <div class="push"></div>
            </div>
        </div>
        {% block footer %}
        <footer class="footer">
            <a href="https://dictionaryapi.com/" target="_blank" >Powered by Merriam-Webster Dictionary API</a>
            <br>
            <a href="https://github.com/pankeelshah/WordList" target="_blank" >Github Repository</a>
        </footer>    
        {% endblock %}
    </body>
</html>