{% extends "base.html" %}

{% block content %}
<main>
    
    {% for word in wordlist: %}
    <a onclick="getDefinition('{{word}}')" target="_blank">
        <div class="wordbox">
            {{ word }}
        </div>
    </a>
    {% endfor %}

    <p>{{ message }}</p>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span onclick="closeModal()" class="close">&times;</span>
            <h1>Definition</h1>
            <p id="modalText"></p>
        </div>
    </div>
              
</main>
{% endblock %}